
body {
	padding: 100px 300px;
	text-align: center;
}

h1 {
	margin-bottom: 20px;
}

h2 {
	margin-top: 40px;
}

.display-times {
	line-height: 15px;
	margin-top: 10px;
}
a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #272727;
}

.date-pick-box {
	overflow-y: scroll;
	height: 100px;
	width: 120px;
	margin: 0 auto;
	border-radius: 4px;
	line-height: 26px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	background-color: #fff;
}

/*Always show Scroll Bar*/

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3);
}
