
<div class="row" ng-show="vm.availableDates">
	<h1>Available Dates</h1>
	<div class="col-md-4">
		<h4>{{vm.daysToShow[0]}}</h4>
		<div class="date-pick-box">
			<div ng-repeat="times in vm.showTimesOne">
				<p class="display-times"><a ng-click="vm.pickedDate(times, vm.daysToShow[0])">{{times.displayTime}}</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h4>{{vm.daysToShow[1]}}</h4>
		<div class="date-pick-box">
			<div ng-repeat="times in vm.showTimesTwo">
				<p class="display-times"><a ng-click="vm.pickedDate(times, vm.daysToShow[1])">{{times.displayTime}}</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h4>{{vm.daysToShow[2]}}</h4>
		<div class="date-pick-box">
			<div ng-repeat="times in vm.showTimesThree">
				<p class="display-times"><a ng-click="vm.pickedDate(times, vm.daysToShow[2])">{{times.displayTime}}</a></p>
			</div>
		</div>
	</div>
	</div>
</div>
<div class="row">
	<div ng-show="vm.showSelected" class="col-md-12">
		<h2>Selected Appointment:</h2>
		<h4>{{vm.selectedDay}} at {{vm.selectedDate.displayTime}}</h4>
		<button ng-click="vm.finalizedAppoint(vm.selectedDate)">Submit Appointment</button>
	</div>
	<div ng-show="vm.finalTime" class="col-md-12">
		<h2>Your Appointment will be at:</h2>
		<h4>{{vm.selectedDate.displayTime}}, on {{vm.selectedDay}}</h4>
	</div>
</div>
